* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
  font-family: Montserrat;
  background-color: #fff;
}

a {
  text-decoration: none;
}

header {
  background: #fff;
}

nav {
  padding: 0 10px 0 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background: #fff;
  position: fixed;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.nav-logo-container {
  filter: invert(1);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-items {
  font-weight: 500;
  color: #000;
  transition: 0.2s ease-in-out;
}

.nav-link {
  font-size: 1.125rem;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 1024px) {
  nav.active {
    background: #fff;
    height: 100vh;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: none;
  }

  .nav-list.active {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50vh;
  }
}

.btn {
  background: #323e6a4d;
  color: #000;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.65rem 2rem;
  border: none;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: #a8aec07a;
}

.text-link {
  color: #000;
  transition: 0.2s ease-in-out;
}

.container-events {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.container-info {
  flex: 1 1 21rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px 20px;
  align-self: normal;
  gap: 10px;
}

.bx-events {
  width: 25rem;
  height: 20rem;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1rem;
}

.event-info {
  max-width: 310px;
  font-size: 0.9rem;
}

.btn-events {
  padding: 0.6rem 1.5rem;
  margin-top: auto;
  border: 1px solid #000000b0;
  border-radius: 4px;
  transition: 0.15s ease-in-out;
}

.btn-events:hover {
  background: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateY(-4px);
}

.container-info-flex {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.grid-info-modal {
  display: grid;
  font-weight: 600;
  font-size: 1.5rem;
  gap: 10px;
}
.grid-subinfo {
  font-size: 1rem;
  font-weight: 400;
}

.grid-subinfo:nth-child(3) {
  display: grid;
  gap: 5px;
}
.heading-modal {
  font-size: 2.75rem;
}
.modal {
  width: 50ch;
  padding: 5rem;
  margin: 11.75rem auto;
  box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
  border: none;
  border-radius: 0.2rem;
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
  backdrop-filter: blur(2.5px);
}

.modal-info {
  justify-content: center;
  gap: 30px;
  padding: 10px 0px;
}

.close-button {
  margin-top: 0;
}
.sub-heading {
  font-size: 1rem;
  display: grid;
  gap: 5px;
}
@media (max-width: 768px) {
  .modal {
    width: 70%;
    padding: 3rem;
  }
}

@media only screen and (max-width: 380px) {
  .bx-events {
    height: 50%;
  }
  .container-info {
    gap: 10px;
  }
}
